<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <div class="simple-form">
      <div class="simple-form__input">
        <input class="form-control form-control-lg" type="text" id='simple-search' placeholder="o que procura?">
      </div>
    </div>

    <div class="advanced-form" style="display:none;">
      <span><%= t 'activerecord.attributes.power_generator.manufacturer'%>: </span>
      <%= select('power_generator', 'manufacturer_eq', PowerGenerator.pluck(:manufacturer).uniq, { include_blank: true }, class: 'search-input') %>

      <span><%= t 'activerecord.attributes.power_generator.structure_type'%>: </span>
      <%= select('power_generator', 'structure_type_eq', PowerGenerator.structure_types.to_a.map { |w| [t("enums.power_generator.structure_type.#{w[0]}"), w[1]] }, { include_blank: true }, class: 'search-input') %>
    </div>
  </div>
  <div class='sort-power-generators'>
    <span>Ordenar Por: </span>
    <%= select('power_generator', 'order_by', PowerGenerator::SORT_BY.map{|e| e}, { include_blank: false }, class: 'search-input') %>
  </div>

  <div class="container" >
    <div id='power-generators-list'></div>
  </div>
</div>

<%= render partial: 'layouts/partials/modal' %>
