<!DOCTYPE html>
<html>
  <head>
    <title>Portal Solar - Dev Test</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <%= javascript_pack_tag 'application' %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
  </head>
  <body>
    <%= yield %>
  </body>
</html>
